<section class="hero-unit welcome-box">
  <h1>We are <span class="brand">Fifth Sigma</span></h1>
  <p>We are a group of distributed database professionals. We have been integral to the formation and understanding of the NoSQL movement since the inception.</p>
</section>
<div class="well">
<section>
  <ul class="bullet-list">
    <li>
      <span class="list-header">Engineering Expertise</span>
      We have written the internals of some of the most popular NoSQL software, including HBase.
    </li>
    <li>
      <span class="list-header">Operational Expertise</span>
      We were the first to operate and build runbooks for NoSQL databases in live-critical production environments, including HBase and Cassandra. We were key players of these distributed database systems in their first major critical production rollouts.
    </li>
    <li>
      <span class="list-header">Monitoring Expertise</span>
      We have always been responsible for producing human-interpretable statistics from the trending and alerting packages that watch the databases. Our job is to present the status of the cluster in a way that the management can understand.
    </li>
  </ul>
  <p class="lead">
    We have been helping shape the roles of NoSQL distributed databases at the biggest organisations on the internet for years. Google. Amazon. Mozilla. Obama for America.<br>
    <strong>Whatever your needs, we can help.</strong>
  </p>
</section>
</div>
