  <%- linkTo('Manage users', usersPath); %>
<div class="hero-unit">
  <h2>All Blogs</h2>
  <%- linkTo('Create a new Blog', addBlogPath, {class: 'btn pull-right'}); %>
</div>

<div id="blogs-list">
<% if (blogs) { %>
<% for (var i = 0, ii = blogs.length; i < ii; i++) { %>
  <div class="row list-item" id="blog-<%= blogs[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(blogs[i].title, blogPath(blogs[i].id)); %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>
