<section>

<div class="well">
<article class="row-fluid">
  <h2><%= blog.title %></h2>
  <p><%- md(blog.body) %> </p>
  <p><strong>Author: <%- linkTo(blog.author, byAuthorPath(blog.author)) %></strong><br>
  <i><%- postDate(blog.postDate) %></i></p>
</article>

</div>
</section>
