<section>
  <h1>The <span class="brand">Fifth Sigma</span> Team</h1>

  <div class="well">
    <article class="row-fluid">
      <div class="span12">
        <h2 class="team-header">
          <img alt="Tim Ellis, Founder CTO" class="team-thumb" src="/img/tim.jpg">
          Tim Ellis, Founder, CTO
        </h2>
        <p>Tim has been working with large database clusters since the
        late 1990’s. Worked on terabyte-scale datasets in early 2000’s
        at Friendster and petabyte-scale datasets in in the mid-2000’s
        at Digg, Mozilla, and Riot Games.<p>
        <p>
          Tim was instrumental in the operational groups of the first
          large-scale high-volume deployments of such OSS distributed
          databases as Cassandra and HBase at Digg and StumbleUpon. He
          worked with developers of both products to help mold how
          HBase and Cassandra are administered today. His
          contributions include run-books covering common operational
          problems, code fixes throughout large portions of the
          codebase, and mentoring traditional DBAs in new
          methodologies required to administer distributed database
          clusters.</p>
        <p>
          He has recently architected, built, and administered
          petabyte-scale hybrid MySQL/HBase/Hadoop OLAP and OLTP
          clusters at Riot Games, maker of the largest online game in
          the world, and Mozilla, home of the biggest OSS web browser
          in the world. These systems provided real-time access to
          data accessed by hundreds of millions of users per day.
        </p>
        <p>Contact Tim at: <a href="mailto:timEllis@fifthSigma.com">timEllis@fifthSigma.com</a>
        </p>
      </div>
    </article>
  </div>


  <div class="well">
    <article class="row">
      <div class="span12">
        <h2 class="team-header">
          <img class="team-thumb" src="/img/alex.jpg">
          Alex Newman, Principal, CEO
        </h2>
	<p>
	  Alex started his first company, Wu Li, in 1999 when he was
	  17. Wu Li sold outdoor wireless end stations to multiple
	  local Internet Service Providers in the Atlanta
	  Region. Since then he has advised large public companies
	  (Life Technology) on matters such as mergers and
	  acquisitions and was a strategic advisor to OPower.
	</p>
	<p>
	  As one of the earliest employees of Cloudera, Alex helped
	  some of the largest early users of Big Data software deploy
	  and manage their database clusters. He was one of the main
	  developers for Cloudera Manager, used by many large
	  organizations to deploy and manage HBase and Hadoop
	  installations today. He has contributed code throughout the
	  Hadoop stack and is an Apache committer.
	</p>
	<p>
	  Ryan and Alex worked together at both Drawn to Scale and
	  OhmData to realize the dream of real-time scaleable HBase
	  for every administrator.
	</p>
	<p>Contact Alex at: <a href="mailto:alexNewman@fifthsigma.com">alexNewman@fifthsigma.com</a></p>

      </div>
    </article>
  </div>


  <div class="well">
    <article class="row">
      <div class="span12">
        <h2 class="team-header">
          <img class="team-thumb" src="/img/ryan.jpg">
          Ryan Rawson, Principal, VP Eng
        </h2>
	<p>Ryan learned large-scale administration and development at
	Amazon and Google. After moving to SF, began working nearly
	full-time on HBase, contributing large amounts of code to the
	core technology. Created the StumbleUpon HBase team which was
	subsequently picked-up up by Cloudera.
	</p>
	<p>
	  Then, Ryan co-founded Drawn to Scale, taking it from prototype to
	  VC-funded project. It was a successful implementation of SQL on HBase.
	</p>
	<p>Contact Ryan at: <a href="mailto:ryanRawson@fifthsigma.com">ryanRawson@fifthsigma.com</a></p>
      </div>
      
    </article>
  </div>

</section>

