<section>
  <h1>The <span class="brand">Fifth Sigma</span> Team</h1>
  <div class="well">
    <article class="row-fluid">
      <div class="span12">
        <h2 class="team-header">
          <img alt="Tim Ellis, Founder CTO" class="team-thumb" src="http://fifthsigma.com/StandardDeviations/images/5.jpg">
          Tim Ellis, Founder, CTO
        </h2>
        <p>Tim has been working with large database clusters since the late 1990’s. Worked on terabyte-scale datasets in early 2000’s at Friendster and petabyte-scale datasets in in the mid-2000’s at Digg, Mozilla, and Riot Games.<p>
        <p>
          Tim was instrumental in the operational groups of the first large-scale high-volume deployments of such OSS distributed databases as Cassandra and HBase at Digg and StumbleUpon. He worked with developers of both products to help mold how HBase and Cassandra are administered today. His contributions include run-books covering common operational problems, code fixes throughout large portions of the codebase, and mentoring traditional DBAs in new methodologies required to administer distributed database clusters.</p>
        <p>
          He has recently architected, built, and administered petabyte-scale hybrid MySQL/HBase/Hadoop OLAP and OLTP clusters at Riot Games, maker of the largest online game in the world, and Mozilla, home of the biggest OSS web browser in the world. These systems provided real-time access to data accessed by hundreds of millions of users per day.
        </p>
        <p>Tim Ellis: <a href="mailto:timEllis@fifthSigma.com">timEllis@fifthSigma.com</a>
        </p>
      </div>
    </article>
  </div>
  <div class="well">
    <article class="row">
      <div class="span12">
        <h2 class="team-header">
          <img class="team-thumb" src="http://fifthsigma.com/StandardDeviations/images/3.jpg">
          Alex Newman, Principal, CEO
        </h2>
      </div>
    </article>
  </div>
  <div class="well">
    <article class="row">
      <div class="span12">
        <h2 class="team-header">
          <img class="team-thumb" src="http://fifthsigma.com/StandardDeviations/images/4.jpg">
          Ryan Rawson, Principal, VP Eng
        </h2>
      </div>
    </article>
  </div>
</section>

